body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
  }
  
  h1, h3, h4, h5 {
    color: #003366;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  img {
    text-align: center;
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #003366;
    color: white;
  }
  
  td {
    background-color: #f9f9f9;
  }
  
  ul {
    list-style-type: square;
  }
  
  ol {
    margin: 20px;
  }
  
  form {
    background-color: #ea3b3b;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form input[type="submit"] {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #00509e;
  }